<!DOCTYPE html>
<html lang="id">
<head>
  <meta charset="UTF-8">
  <title>Home</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<div class="header">
  <h1>Analisis Statistik Harga Barang</h1>
  <p>Mean • Median • Modus • Toko Termurah</p>
</div>

<div class="navbar">
  <a href="/">Home</a>
  <a href="/proses">Proses</a>
  <a href="/result">Result</a>
  <a href="/history">History</a>
</div>

<div class="content">
  <div class="card">
    <p>
      Aplikasi ini digunakan untuk menganalisis harga suatu barang
      dari beberapa toko menggunakan metode statistik deskriptif
      untuk memperoleh harga wajar dan rekomendasi toko termurah.
    </p>
  </div>
</div>

</body>
</html>
