<!DOCTYPE html>
<html lang="id">
<head>
  <meta charset="UTF-8">
  <title>Hasil</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<div class="header">
  <h1>Hasil Analisis Statistik</h1>
</div>

<div class="navbar">
  <a href="/">Home</a>
  <a href="/proses">Proses</a>
  <a href="/result">Result</a>
  <a href="/history">History</a>
</div>

<div class="content">
  <div class="card">
    <h3 id="judulBarang"></h3>
    <div class="stats" id="output"></div>
  </div>
</div>

<script src="/js/app.js"></script>
</body>
</html>
